<template>
	<div>
		<div v-html="project.full_description">
		</div>
		<img v-for="img in project.files.images['.']" :src="`https://blabladev.com/project/download_file/${project.id}/images/${img.name}`" :key="img.name" class="project_img" />
	</div>
</template>

<script>
export default {
	name: 'description',
	props: ['project']
}
</script>
