<template>
  <div class="app_content" v-if="project">
    <aside-project :project="project" :error="error" :success="success" />
    <div class="content">
      <div class="state_nav">
        <router-link exact active-class="active" :to="`/app/project/${project.id}/description`">description</router-link>
        <router-link exact active-class="active" :to="`/app/project/${project.id}/resources`">resources</router-link>
      </div>
      <router-view :user="user" :project="project" />
    </div>
  </div>
</template>

<script>
import AsideProject from '../components/Aside'
import { startDevProject } from '@/helpers/api'

export default {
	name: 'project',
	props: ['user', 'projects'],
	data() {
		return {
			project: this.projects
				? this.projects.find(pr => pr.id === this.$route.params.id)
				: null,
			error: false,
			success: false,
		}
	},
	beforeMount: function () {
		if (!this.project) {
			const interval = setInterval(() => {
				if (this.project) {
					clearInterval(interval);
					return
				}
				this.project = this.projects.find(pr => pr.id == this.$route.params.id);
			}, 300);
		}
	},
	computed: {
		isStarted: function () {
			return this.user.projects.find(pr => pr.project_id == this.project.id);
		}
	},
	methods: {
		startProject() {
			if (this.isStarted) return;

			this.error = false;
			this.success = false;

			const fd = new FormData();
			fd.append('project_id', this.project.id);

			startDevProject(fd)
				.then(response => {
					if (response) {
						const p = {
							avatar: this.project.avatar,
							company: this.project.company,
							files: [],
							id: response,
							languages: this.project.languages,
							level: this.project.level,
							project_id: this.project.id,
							rating: null,
							review: null,
							started: new Date().toISOString().slice(0, 19).replace(/T/i, ' '),
							submit_count: 0,
							submitted: null,
							submitter: this.user.id,
							title: this.project.title
						}
						this.user.projects.push(p);
						this.success = true;
					} else {
						this.error = true;
					}
				})
				.catch(err => {
					console.error(err);
					this.error = true;
				});
		}
	},
	components: {
		AsideProject
	}
}
</script>
