<template>
  <div>
    <single-project-file v-for="(value, key, index) in project.files" :key="index" :files="value" :name="key" :projectid="project.id" :url="key" :download="true"></single-project-file>
    <div class="download_project_wrap">
      <a :href="`https://blabladev.com/project/download_zip/${project.id}`" title="download all" class="btn download_project" download v-on:click="startProject">
								download all
						</a>
      <small class="color_black_light">downloading resources will start the project</small>
    </div>
  </div>
</template>

<script>
import SingleProjectFile from '@/components/Single_Project_File'

export default {
	name: 'resources',
	props: ['project'],
	methods: {
		startProject(e) {
			this.$parent.startProject();
		}
	},
	components: {
		SingleProjectFile
	}
}
</script>
