<template>
  <aside class="aside_project">
    <h3 class="color_green">{{project.title}}</h3>
    <figure>
      <img :src="project.avatar" :alt="project.title" />
    </figure>
    <p class="aside_project-description">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <small>company</small>
    </p>
    <h3>{{project.company}}</h3>
    <p class="aside_project-description">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <small>added</small>
    </p>
    <h3>{{project.added}}</h3>
    <p class="aside_project-description">
      <i class="fa fa-rocket" aria-hidden="true"></i>
      <small>level</small>
    </p>
    <h3>{{project.level}}</h3>
    <p class="aside_project-description">
      <i class="fa fa-language color_green" aria-hidden="true"></i>
      <small class="color_black_light">languages</small>
    </p>
    <img v-for="(lng, i) in languages" :key="i" :src="handleLanImg(lng)" :alt="lng" :title="lng" class="aside_project-language" />
    <button type="button" v-on:click="startProject" class="btn" :disabled="$parent.isStarted">start project</button>
    <small class="color_error" v-if="error">
						error starting new project :( <br></br> you can't start same project twice
				</small>
    <small class="color_green" v-if="success">
			congrats, you've just started a new project!!
				</small>
  </aside>
</template>

<script>
import { handleLanImg } from '@/helpers/functions'
export default {
	name: 'aside-project',
	props: ['project', 'error', 'success'],
	computed: {
		languages: function () {
			return this.project.languages.split(',').map(l => l.trim())
		}
	},
	methods: {
		startProject(e) {
			console.log(this);
			this.$parent.startProject();
		},
		handleLanImg
	}
}
</script>
