<template>
  <aside class="aside_project">
    <h3 class="color_green">{{project.title}}</h3>
    <figure>
      <img :src="project.avatar" :alt="project.title" />
    </figure>
    <p class="aside_project-description">
      <i class="fa fa-building-o" aria-hidden="true"></i>
      <small>company</small>
    </p>
    <h3>{{project.company}}</h3>
    <p class="aside_project-description">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <small>started</small>
    </p>
    <h3>{{project.started}}</h3>
    <p class="aside_project-description">
      <i class="fa fa-calendar-o" aria-hidden="true"></i>
      <small>last submit</small>
    </p>
    <h3>{{project.submitted}}</h3>
    <p class="aside_project-description">
      <i class="fa fa-star-half-o" aria-hidden="true"></i>
      <small>rating</small>
    </p>
    <h3>{{project.rating || 0}} <span class="color-green">/100</span></h3>
    <p class="aside_project-description">
      <i class="fa fa-rocket" aria-hidden="true"></i>
      <small>level</small>
    </p>
    <h3>{{project.level}}</h3>
    <p class="aside_project-description">
      <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
      <small>submit count</small>
    </p>
    <h3>{{project.submit_count}} <span class="color-green">/3</span></h3>
    <label class="btn" :class="{disabled: disabled}">
      <input type="file" @change="$parent.submitDevproject" :disabled="disabled" hidden /> upload files
    </label>
    <small class="color_black_light">
			<!-- add v1, v2 or v3 to your filename -->
			add version number to your file
			<br>
			(e.g. v{{Number(project.submit_count) + 1}}_app.zip)
			<br>
			(one .zip file)
		</small>
    <br></br>
    <small class="color_yellow" v-if="uploading">uploading files, please wait...</small>
    <small class="color_green" v-if="success">bravo, you submitted project for a review</small>
    <small class="color_error" v-if="error">error uploading files</small>
    <small class="color_error" v-if="error_format">only .zip supported!!</small>
    <small class="color_error" v-if="maxSubmitCount">sorry, 3 uploads per project!!</small>
    <small class="color_error" v-if="devHasName">new app, who dis?? (fill in your name)</small>
  </aside>
</template>

<script>
export default {
	name: 'aside-devproject',
	props: [
		'project',
		'uploading',
		'success',
		'error',
		'error_format',
		'maxSubmitCount',
		'devHasName',
		'disabled',
	]
}
</script>
