<template>
  <div class="modal">
    <form class="flex_column_center_start modal_form" @submit.prevent="handleUpdateProfile" @reset="goBack">
      <label class="label_column width_100">
        <input type="password" placeholder="old password" name="old" autoFocus required />
      </label>
      <label class="label_column width_100">
        <input type="password" placeholder="new password" name="new" required/>
      </label>
      <div class="form_btn_wrap">
        <button type="reset">close</button>
        <button type="submit">update</button>
      </div>
      <p class="color_error" v-if="error">error updating password</p>
      <p class="color_green" v-if="success">password changed successfuly</p>
    </form>
  </div>
</template>

<script>
import { setUserPassword } from '@/helpers/api'
export default {
	name: 'edit-password',
	props: ['user'],
	data: function() {
		return {
			success: false,
			error: false
		}
	},
	methods: {
		handleUpdateProfile: function (e) {
			this.error = false;
			this.success = false;

			const fd = new FormData(e.target);
			const submitBtn = e.target.querySelector('button[type="submit"]');
			submitBtn.disabled = true;

			setUserPassword(fd)
				.then(response => {
					if (response) {
						this.success = true;
					} else {
						submitBtn.disabled = false;
						this.error = true;
					}
				})
				.catch(err => {
					console.error(err);
					submitBtn.disabled = false;
					this.error = true;
				})
		},
		goBack: function (e) {
			this.$router.go(-1);
		}
	}
}
</script>
