<template>
  <div class="modal">
    <form class="modal_form profile" @submit.prevent="handleUpdateProfile" @reset="goBack">
      <div>
        <div>
          <label class="label_column width_100">
            <input type="text" placeholder="full name*" name="name" :value="user.name" autofocus required/>
            <small class="color_black_light">(who is you? *)</small>
          </label>
          <label class="label_column width_100">
            <input type="text" placeholder="username*" name="user_name" :value="user.user_name" required/>
            <small class="color_black_light">(how should we call you? *)</small>
          </label>
          <label class="label_column width_100">
            <flat-pickr :value="birthday" placeholder="birth date" name="birthday" input-class="form-control custom-input-class"></flat-pickr>
            <small class="color_black_light">(b-day)</small>
          </label>
          <label class="label_column width_100">
            <textarea placeholder="about me" name="about_me" :value="user.about_me" rows="5"></textarea>
            <small class="color_black_light">(short bio)</small>
          </label>
          <label class="label_column width_100">
            <input type="file" name="cv" hidden v-on:change="cvAdded" />
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <small class="color_black_light">cv (.pdf, .doc, .docx)</small>
            <small id="cv-name" class="cv_name">
        	<a :href="user.cv" target="_blank" v-if="user.cv" title="cv">your-cv</a>
        </small>
          </label>
        </div>

        <div>
          <label class="label_column width_100">
            <input type="text" placeholder="occupation/educaton" name="occupation" :value="user.occupation" />
            <small class="color_black_light">(what do you do?)</small>
          </label>
          <label class="label_column width_100">
            <input type="text" placeholder="city" name="city" :value="user.city" />
            <small class="color_black_light">(what's your location?)</small>
            <select name="select-city" v-if="cityPredictions.length">
              <option v-for="city in cityPredictions" :key="city.id">
                {{city.description}}
              </option>
            </select>
          </label>
          <label class="label_radio">
            <input type="radio" name="interests" value="job" :checked="user.interests === 'job'" hidden/>
            <i class="fa" aria-hidden="true"></i>
            <small class="color_black_light">i'm here to find a job</small>
          </label>
          <label class="label_radio">
            <input type="radio" name="interests" value="education" :checked="user.interests === 'education'" hidden/>
            <i class="fa" aria-hidden="true"></i>
            <small class="color_black_light">i'm here to learn</small>
          </label>
          <label class="label_column width_100">
            <input type="text" placeholder="skills" name="skills" :value="user.skills" />
            <small class="color_black_light">(e.g. "react, vue.js,..." comma separated)</small>
          </label>
          <label class="label_column width_100">
            <input type="text" placeholder="certificate/diploma/degree " name="certificates" :value="user.certificates" />
            <small class="color_black_light">(e.g. "dr. of universe, bacc. of.." comma separated)</small>
          </label>
          <label class="label_column width_100">
            <input type="number" placeholder="minimum annual wage $" name="minimum_wage" :value="user.minimum_wage" min="100" max="10000" step="100" />
            <small class="color_black_light">($$$)</small>
          </label>
        </div>
      </div>
      <div class="form_btn_wrap">
        <button v-if="user.name" type="reset">close</button>
        <button type="submit">update</button>
      </div>
      <p class="color_error" v-if="error">error updating profile</p>
      <p class="color_error" v-if="error_cv">error uploading cv</p>
      <p class="color_error" v-if="format">format not supported</p>
    </form>
  </div>
</template>
<script>
// import Datepicker from 'vue-date'
import flatPickr from 'vue-flatpickr-component';
import 'flatpickr/dist/flatpickr.css';
// theme is optional
import 'flatpickr/dist/themes/material_green.css';
import { setUserProfile, uploadCV } from '@/helpers/api'

export default {
	name: 'edit-profile',
	props: ['user'],
	data: () => {
		return {
			birthday: null,
			timeoutID: null,
			cityPredictions: [],
			error: false,
			error_cv: false,
			format: false,
		}
	},
	mounted:function() {
		console.log(this.$router.history.current);
		if(!google) return
		const input = document.querySelector('[name="city"]');
		const autocomplete = new google.maps.places.Autocomplete(input)
		// TODO
		autocomplete.addListener('place_changed', () => {
			console.log(autocomplete.getPlace());
		})
	},
	created: function () {
		this.birthday = this._props.user.birthday;
	},
	methods: {
		handleUpdateProfile: function (e) {
			this.error = false;
			this.error_cv = false;

			const fd = new FormData(e.target);
			const submitBtn = e.target.querySelector('button[type="submit"]');
			const cv = e.target.querySelector('[name="cv"]').files[0];
			fd.delete('cv');
			submitBtn.disabled = true;

			if (cv) {
				const fd = new FormData();
				fd.append('cv', cv);

				uploadCV(fd)
					.then(response => {
						if (response.success) {
							this.user.cv = response.cv;
						} else {
							this.error_cv = true;
						}
					})
					.catch(err => {
						console.error(err);
						this.error_cv = true;
					})
			}

			setUserProfile(fd)
				.then(response => {
					console.log(response);
					if (response) {
						this.user.name = e.target.querySelector('[name="name"]').value.trim();
						this.user.about_me = e.target.querySelector('[name="about_me"]').value.trim();
						this.user.user_name = e.target.querySelector('[name="user_name"]').value.trim();
						this.user.occupation = e.target.querySelector('[name="occupation"]').value.trim();
						this.user.birthday = e.target.querySelector('[name="birthday"]').value.trim();
						this.user.city = e.target.querySelector('[name="city"]').value.trim();
						this.user.skills = e.target.querySelector('[name="skills"]').value;
						this.user.certificates = e.target.querySelector('[name="certificates"]').value;
						this.user.minimum_wage = e.target.querySelector('[name="minimum_wage"]').value;
						const interests = e.target.querySelectorAll('[name="interests"]');
						for (var i = interests.length - 1; i >= 0; i--) {
							if (interests[i].checked) {
								this.user.interests = interests[i].value;
							}
						}

						localStorage.setItem('user', JSON.stringify(this.user));
					} else {
						this.error = true;
						submitBtn.disabled = false;
					}

					if (response && !this.error_cv && !this.format) {
						this.goBack();
					}
				})
				.catch(err => {
					console.error(err);
					this.error = true;
					submitBtn.disabled = false;
				})
		},
		cvAdded: function (e) {
			this.format = false

			if (!e.target.files[0]) {
				return
			}

			const cvName = e.target.files[0].name;
			const cvNameHTML = document.getElementById('cv-name');
			const ext = cvName.split('.').pop();
			if (ext != "pdf" && ext != "docx" && ext != "doc") {
				this.format = true;
				e.target.value = '';
				return
			}

			cvNameHTML.innerText = cvName;
		},
		goBack: function (e) {
			this.$router.go(-1);
		},
	},
	components: {
		flatPickr
	}
}

</script>
