aside {
  display: none;
  width: 220px;
  margin: 0 10px;
}

.aside_user h2 small {
  font-size: 0.5em;
  color: #a7a7a7;
}

.aside_user_avatar {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}

.aside_user_avatar label {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.35s ease;
  cursor: pointer;
}

.aside_user_avatar:hover label {
  opacity: 1;
}

.aside_user_avatar label i {
  position: absolute;
  font-size: 2em;
  width: 1em;
  height: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #fff;
}

.aside_user_projects {
  max-height: 220px;
  overflow: auto;
}

.pill {
  border-radius: 100px;
  background-color: #00b487;
  display: inline-block;
  text-align: center;
  margin: 0 5px 5px 0;
  color: #fff;
  padding: 3px 10px;
}



/* MODAL */

.modal {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 5%;
  z-index: 100;
}

.modal_form {
  width: 90%;
  background-color: #fff;
  padding: 20px;
  margin: auto;
}

.modal_form .color_error,
.modal_form .color_success {
  margin-bottom: 0;
}

.modal_form.profile>div {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
}

.modal_form.profile>div>div {
  width: 100%;
}


/* SINGLE PROJECT */

.project_wrap {
  position: relative;
  width: calc(100% - 10px);
  display: inline-block;
  height: 170px;
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.project_wrap>div {
  display: flex;
  /*align-items: center;*/
  align-items: flex-end;
}

.project_wrap-avatar {
  width: 42px;
  height: 42px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-right: 15px;
}

.project_wrap h5 {
  margin: 0;
  font-weight: normal;
}

.project_wrap p {
  margin: 0;
}

.project_wrap-footer {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  justify-content: space-between;
}

.project_wrap small {
  color: #a7a7a7;
}

.project_wrap-languages {
  display: flex;
}

.project_wrap-languages img {
  height: 28px;
  margin: 5px 5px 0 0;
}



/* SINGLE DEV PROJECT */

.devproject_wrap {
  position: relative;
  width: calc(100% - 10px);
  margin: 5px 0;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #e0e0e0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
}

.devproject_wrap:hover {
  border: solid 1px #0e0e0e;
  transition: border 0.25s ease;
}

.devproject_wrap img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
  margin: 8px 20px 8px 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.devproject_wrap small {
  color: #a7a7a7;
  width: 20%;
  margin: auto;
  white-space: nowrap;
  display: inline-block;
}

.devproject_no-project {
  text-align: center;
}

.devproject_review code {
  padding: 2px 5px;
  background-color: #eff0f1;
  display: inline-block;
  overflow: auto;
  max-width: 100%;
}


/* PROJECTS WRAP */

.projects_wrap-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.projects_wrap-header i {
  cursor: pointer;
  margin-left: 10px;
}

.projects_wrap-legend {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-left: 48px;
  text-align: center;
}

.projects_wrap-legend>p {
  width: 20%;
  margin: auto;
  color: #a7a7a7;
}

.projects_row {
  margin: 0 -5px;
}



/* ASIDE PROJECT */

.aside_project {
  margin: 0 10px;
}

.aside_project figure {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}

.aside_project figure img {
  width: 100%;
}

.aside_project-description i {
  margin-right: 15px;
  color: #00b487;
}

.aside_project-description small {
  vertical-align: text-top;
  color: #4a4a4a;
}

.aside_project-description {
  margin-bottom: 0;
}

.aside_project-description+h3 {
  margin: 0;
  font-weight: normal;
}

.aside_project label,
.devproject_no-project label {
  width: 220px;
  border-radius: 4px;
  background-color: #FF9E00;
  color: #fff;
  margin: 20px auto;
  border: solid 1px transparent;
}

.aside_project label.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.aside_project label:hover,
.devproject_no-project label:hover {
  background-color: #fff;
  color: #f6a623;
  border: solid 1px #FF9E00;
}

.aside_project button {
  width: 220px;
  border-radius: 4px;
  background-color: #00b487;
  color: #fff;
  margin: 20px auto;
  border: solid 1px transparent;
}

.aside_project button:hover {
  background-color: #fff;
  color: #00b487;
  border: solid 1px #00b487;
}

.aside_project-language {
  height: 32px;
  margin: 5px 5px 0 0;
}

.state_nav {
  border-bottom: 1px solid #e0e0e0;
  height: 40px;
}

.state_nav a {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 0 10%;
  margin-top: 15px;
  font-weight: normal;
  vertical-align: bottom;
}

.state_nav a.active:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -6px;
  width: 100%;
  border-bottom: 1px solid #00b487;
}

.project_file {
  list-style: none;
  padding-left: 20px;
}

.project_file p {
  border-bottom: 1px solid #e3e3e3;
}

.project_file p i {
  float: right;
}

.project_img {
  max-width: 100px;
  margin: 5px;
}

.download_project_wrap {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.download_project_wrap small {
  position: absolute;
  right: 0;
  bottom: -15px;
}

.download_project {
  padding: 18px 30px;
  border-radius: 4px;
  background-color: #00b487;
  border: 1px solid transparent;
  color: #fff !important;
  margin: 20px 0;
}

.download_project:hover {
  background-color: #fff;
  color: #00b487 !important;
  border: 1px solid #00b487;
}



/*.project_file img {
  max-width: 100px;
  display: block;
}*/


/* WELCOME */

.welcome_wrap {
  background-color: #fff;
  padding: 20px;
  margin: auto;
  width: 90%;
  max-width: 600px;
  text-align: center;
}

.welcome_code {
  text-align: left;
  overflow: auto;
}

.welcome_code code {
  background-color: #eff0f1;
  overflow: auto;
  width: 100%;
  padding: 2px 5px;
  display: inline-block;
  max-height: 200px;
}

.welcome_link {
  padding: 10px 20px;
  /*min-width: 120px;*/
  color: #fff !important;
  display: inline-block;
  background-color: #00b487;
  border-radius: 4px;
  border: solid 1px transparent;
  transition: background-color 0.35s ease;
}

.welcome_link:hover {
  background-color: #fff;
  color: #00b487 !important;
  border: solid 1px #00b487;
}

@media screen and (min-width: 768px) {
  .project_wrap {
    width: calc(50% - 10px);
  }
  .aside_project figure {
    display: block;
    width: 100%;
    height: 220px;
  }
  .welcome_code code {
    max-height: unset;
  }
}

@media screen and (min-width: 992px) {
  aside {
    display: inline-block;
  }
  .modal_form {
    width: 460px;
  }
  .modal_form.profile {
    width: 920px;
  }
  .modal_form.profile>div>div:first-of-type {
    padding-right: 10px;
  }
  .modal_form.profile>div>div:last-of-type {
    padding-left: 10px;
  }
  .modal_form.profile>div>div {
    flex: 1;
  }
  .project_wrap {
    width: calc(33% - 10px);
  }
}
