@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Thin.ttf);
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #00b487;
  outline: 1px solid #e3e3e3;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: normal;
  font-family: Roboto, sans-serif;
}

a,
a:hover,
a:visited,
a:active {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}



button,
.btn {
  border: none;
  outline: none;
  /*background-color: unset;*/
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.35s ease;
  font-family: Roboto, sans-serif;
  display: inline-block;
  font-size: 13.3333px;
  align-items: flex-start;
  text-align: center;
}

button:disabled,
.btn:disabled,
label:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

input,
select {
  border: none;
  border-bottom: 1px solid #e3e3e3;
  height: 2.5em;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
  padding-left: 0.5em;
  transition: border-bottom 0.35s ease;
}

textarea {
  padding: 0.5em;
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #e3e3e3;
}

input:hover,
input:focus {
  border-bottom: 1px solid #a3a3a3;
}

main {
  display: flex;
  height: 100%;
  flex: 1;
  background-blend-mode: overlay;
  overflow: auto;
}

.fa {
  color: #a7a7a7;
}

.fa:hover {
  color: #4a4a4a;
  transition: color 0.35s ease;
}

.app_container {
  flex: 1;
  height: 100%;
}

.app_container.confetti {
  background: transparent url('../img/confetti.gif') center no-repeat;
  background-size: cover;
}

.app_wrap {
  flex: 1;
  height: calc(100% - 90px);
}

.app_content {
  display: flex;
  padding: 10px;
  max-height: 100%;
  max-width: 100vw;
  flex: 1;
}

.app_content .content {
  flex: 1;
  overflow: auto;
  padding: 0 10px;
}

.new_user_edit {
  text-align: center;
  margin-bottom: 20px;
}

.new_user_edit * {
  margin: 0;
}

.form_btn_wrap {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.form_btn_wrap button {
  width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  color: #fff;
  border: solid 1px transparent;
  transition: background-color 0.35s ease;
}

.form_btn_wrap button[type="submit"] {
  background-color: #00b487;
}

.form_btn_wrap button[type="reset"] {
  background-color: #FF9E00;
}

.form_btn_wrap button[type="submit"]:hover {
  background-color: #fff;
  color: #00b487;
  border: solid 1px #00b487;
}

.form_btn_wrap button[type="reset"]:hover {
  background-color: #fff;
  color: #f6a623;
  border: solid 1px #FF9E00;
}

.form_btn_wrap button[type="submit"]:disabled,
.form_btn_wrap button[type="reset"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

footer {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 0 20%;
  color: #a7a7a7;
  height: 40px;
  padding: 10px 0;
  backdrop-filter: blur(16px);
}

footer * {
  margin: 0 10px;
  vertical-align: middle;
}

footer a:hover {
  color: #00b487;
}

footer:before {
  position: absolute;
  content: '';
  width: 90%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  border-top: 1px solid #e0e0e0;
}


/* HELPERS */

.fa:hover {
  color: #4a4a4a;
}

.label_radio {
  width: 50%;
  display: inline-block;
  text-align: left;
  margin: 0.5em 0;
}

.label_radio small {
  color: #a7a7a7;
}

.label_radio i {
  margin-right: 10px;
}

.label_radio input+i:before {
  content: "\f10c";
  color: #a7a7a7;
}

.label_radio input:checked+i:before {
  content: "\f05d";
  color: #4a4a4a;
}

.label_radio input:checked~small {
  color: #4a4a4a;
}

.label_column {
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0.5em 0;
}

/*.label_column small {
  font-weight: bold;
}*/

.label_column>.cv_name {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 10px;
}

.label_column input,
.label_column textarea {
  width: 100%;
}

.label_column textarea {
  min-height: 100px;
  max-width: 100%;
}

.flex_row_start_center {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex: 1;
  /*align-items: center;*/
}

.fw_100 {
  font-weight: 100;
}

.width_100 {
  width: 100%;
}

.color_white {
  color: #fff;
}

.color-green,
.color_green {
  color: #00b487 !important;
}

.color_error {
  color: #F2002B !important;
}

.color_blue {
  color: #0F58B5 !important;
}

.color_yellow {
  color: #FF9E00 !important;
}

.color_black_almost {
  color: #4a4a4a !important;
}

.color_black_light {
  color: #a7a7a7 !important;
}

.color_error {
  color: #F2002B !important;
}

.color_var {
  color: #101094 !important;
}

.color_typ {
  color: #2B91AF !important;
}

.color_str {
  color: #7D2727 !important;
}

.color_com {
  color: #858C93 !important;
}

.bg_green {
  background-color: #00b487;
}


@media screen and (min-width: 1200px) {
  .app_content {
    margin: auto;
    padding: 10px calc((100% - 1100px) / 2);
  }
}
