<template>
  <div class="app_content" v-if="project">
    <aside-dev-project
    	:project="project"
    	:uploading="uploading"
    	:success="success"
    	:error="error"
    	:error_format="error_format"
    	:maxSubmitCount="maxSubmitCount"
    	:devHasName="devHasName"
    	:disabled="disabled" />
    <div class="content">
      <div class="state_nav">
        <router-link exact active-class="active" :to="`/app/dev-project/${project.id}/review`">review</router-link>
        <router-link exact active-class="active" :to="`/app/dev-project/${project.id}/files`">files</router-link>
      </div>
      <router-view :user="user" :project="project" />
    </div>
  </div>
</template>

<script>
import AsideDevProject from '../components/Aside'
import { uploadDevProject, submitDevProject } from '@/helpers/api'

export default {
	name: 'devProject',
	props: ['user'],
	data: function () {
		return {
			project: this.user.projects
				? this.user.projects.find(pr => pr.id == this.$route.params.id)
				: null,
			uploading: false,
			success: false,
			error: false,
			error_format: false,
			disabled: false
		}
	},
	beforeMount: function () {
		if (!this.project) {
			const interval = setInterval(() => {
				if (this.project) {
					clearInterval(interval);
					return
				}
				this.project = this.user.projects.find(pr => pr.id == this.$route.params.id);
			}, 300);
		} else if (this.devHasName || this.maxSubmitCount) {
			this.disabled = true;
		}
	},
	updated: function() {
		if(this.devHasName || this.maxSubmitCount) {
			this.disabled = true;
		}
	},
	computed: {
		hasFiles: function () {
			return !(this.project.files.length === 0)
		},
		isProcessing: function () {
			return Object.keys(this.project.files).length <= 1
		},
		devHasName: function() {
			return !this.user.name
		},
		maxSubmitCount: function() {
			return this.project.submit_count == 3
		}
	},
	methods: {
		submitDevproject: function (e) {
			this.disabled = true;

			const fd = new FormData();
			fd.append('devproject_id', this.project.id);

			this.uploading = false;
			this.success = false;
			this.error = false;
			this.error_format = false;

			const ext = e.target.files[0].name.split('.').pop();

			if (ext.toLowerCase() !== 'zip') {
				this.error_format = true;
				this.uploading = false;
				this.disabled = false;
				return
			}

			this.uploadDevProject(this.project.id, e.target.files[0])
				.then(response => {
					if (response) {
						submitDevProject(fd)
							.then(response => {
								if (response) {
									this.success = true;
									this.uploading = false;
									this.disabled = false;

									this.project.submitted = new Date().toISOString().slice(0, 19).replace(/T/i, ' ');
									this.project.submit_count = Number(this.project.submit_count) + 1;
									this.project.files = { '.': {} };
								} else {
									this.error = true;
									this.uploading = false;
									this.disabled = false;
								}
							})
					} else {
						this.error = true;
						this.uploading = false;
						this.disabled = false;
					}
				})
				.catch(err => {
					console.error(err);
					this.error = true;
					this.uploading = false;
					this.disabled = false;
				});
		},
		uploadDevProject: function (id, file) {
			const fd = new FormData();
			fd.append('devproject_id', id);
			fd.append('file', file);

			return uploadDevProject(fd)
		}
	},
	components: {
		AsideDevProject
	}
}
</script>
