<template>
  <div v-if="$parent.hasFiles && !$parent.isProcessing">
    <single-project-file v-for="(value, key, index) in project.files"
    	:key="index"
    	:files="value"
    	:name="key"
    	:projectid="project.id"
    	:url="key" />
  </div>
  <div v-else-if="$parent.hasFiles && $parent.isProcessing">
    <h3>processing your files...</h3>
  </div>
  <div v-else class="devproject_no-project">
    <h3>finish your project and upload .zip file!!</h3>
    <label class="btn">
      <input type="file" @change="$parent.submitDevproject" hidden/> upload files
    </label>
  </div>
</template>

<script>
import SingleProjectFile from '@/components/Single_Project_File'

export default {
	name: 'devproject-files',
	props: ['project'],
	components: {
		SingleProjectFile
	}
}
</script>
