<template>
  <div v-if="project.review" v-html="$parent.project.review" class="devproject_review">
  </div>
  <div v-else-if="$parent.hasFiles">
    <h3>reviewing...</h3>
  </div>
  <div v-else class="devproject_no-project">
    <h3>you'll get your review when you submit your project</h3>
    <label class="btn">
      <input type="file" @change="$parent.submitDevproject" hidden/> upload files
    </label>
  </div>
</template>

<script>
export default {
	name: 'devproject-review',
	props: ['project']
}
</script>
