<template>
  <div class="app_content">
    <aside-user :user="user"></aside-user>
    <div class="content">
      <all-dev-projects :projects="user.projects" v-if="user.projects.length" />
      <all-projects :projects="projects" />
    </div>
    <router-view :user="user" />
    <Welcome v-if="!user.name && $router.history.current.name != 'profile'" :user="user" />
  </div>
</template>

<script>
import AsideUser from '@/components/Aside_User'
import AllDevProjects from '@/components/All_DevProjects'
import AllProjects from '@/components/All_Projects'
import Welcome from '@/components/Welcome'

export default {
	name: 'dashobard',
	props: ['user', 'projects'],
	components: {
		AsideUser,
		AllDevProjects,
		AllProjects,
		Welcome
	}
}
</script>
