<template>
  <div class="app_container" :class="{confetti: birthday}">
    <nav-top :user="user" />
    <div class="app_wrap">
      <router-view :user="user" v-bind:projects="projects" />
    </div>
    <footer-bottom />
  </div>
</template>

<script>
import NavTop from '@/components/Navigaton_Top'
import FooterBottom from '@/components/Footer_Bottom'
import { user, projects } from '@/store'
import { getProjects, getDevProjects } from '@/helpers/api'

export default {
	name: 'layout',
	data: () => {
		return {
			user,
			projects
		}
	},
	computed: {
		birthday: function() {
			if(!this.user.birthday) return false

			const userBirthday = new Date(this.user.birthday);
			const today = new Date();
			if (userBirthday.getDate() === today.getDate() &&
					userBirthday.getMonth() === today.getMonth()) {
				return true;
			}
			return false
		}
	},
	beforeCreate: function () {
		getProjects()
			.then(response => {
				console.log(response);
				if (!this.user.projects) {
					this.$set(this.user, 'projects', []);
				}

				this.projects = response;
				getDevProjects(response, this.user);
			})
	},
	created: function () {
		this.$set(this.user, 'projects', []);
	},
	components: {
		NavTop,
		FooterBottom
	}
}
</script>
