<template>
  <div>
  </div>
</template>

<script>
import { user } from '@/store'
import { checkSession } from '@/helpers/api'

export default {
	name: 'loading',
	beforeCreate: function () {
		checkSession()
			.then(response => {
				if (!response.success) {
					window.location.replace("https://blabladev.com/sign-in/");
				} else {
					localStorage.setItem('user', JSON.stringify(response))
					for(let prop in response) {
						user[prop] = response[prop]
					}
					this.$router.push('/app');
				}
			})
			.catch(err => console.error(err))
	}
}
</script>
