<template>
	<div class="projects_wrap">
		<div class="projects_wrap-header">
			<h3 class="color_black_almost">available projects</h3>

			<div class="projects_wrap-actions">
				<i class="fa fa-level-up" aria-hidden="true" title="sort by level" v-on:click="sortByLevel"></i>
				<i class="fa fa-sort-alpha-asc" aria-hidden="true" title="sort by title" v-on:click="sortByTitle"></i>
			</div>
		</div>
		<div class="projects_row" v-if="projects.length">
			<single-project v-for="project in projects" :project="project" :key="project.id"></single-project>
		</div>
	</div>
</template>

<script>
	import SingleProject from '@/components/Single_Project'

	export default {
		name: 'all-projects',
		props: ['projects'],
		data: () => {
			return {
				sort: false
			}
		},
		methods: {
			sortByLevel: function() {
				if(!this.sort) {
					this.projects.sort((a, b) => {
					    if(a.level < b.level) return -1;
					    if(a.level > b.level) return 1;
					    return 0;
					})
				} else {
					this.projects.sort((a, b) => {
					    if(a.level < b.level) return 1;
					    if(a.level > b.level) return -1;
					    return 0;
					})
				}
				this.sort = !this.sort;
			},
			sortByTitle: function() {
				if(!this.sort) {
					this.projects.sort((a, b) => {
					    if(a.title < b.title) return -1;
					    if(a.title > b.title) return 1;
					    return 0;
					})
				} else {
					this.projects.sort((a, b) => {
					    if(a.title < b.title) return 1;
					    if(a.title > b.title) return -1;
					    return 0;
					})
				}
				this.sort = !this.sort;
			}
		},
		components: {
			SingleProject
		}
	}
</script>
