<template>
	<div class="projects_wrap" v-if="projects.length">
		<div class="projects_wrap-header">
			<h3 class="color_black_almost">your projects</h3>

			<div class="projects_wrap-actions">
				<i class="fa fa-star-half-o" aria-hidden="true" title="sort by rating" v-on:click="sortByRating"></i>
				<i class="fa fa-calendar" aria-hidden="true" title="sort by submit" v-on:click="sortBySubmit"></i>
			</div>
		</div>
		<div class="projects_wrap-legend">
			<p>project</p>
			<p>level</p>
			<p>status</p>
			<p>rating</p>
		</div>
		<single-dev-project v-for="project in projects" :project="project" :key="project.id"></single-dev-project>
	</div>

	<div class="projects_wrap" v-else>
		<div class="projects_wrap-header">
			<h3 class="color_black_almost">your history</h3>
		</div>
		<!-- <h4 class="color_black_light">what history? choose an interesting project from below and start working on it!! <br> when done upload it and we'll review it</h4> -->
		<h4 class="color_black_light">
			what history?
			<br> choose an project and work on it! when done, upload it and we'll review it. ta-daaa
		</h4>
	</div>
</template>

<script>
	import SingleDevProject from '@/components/Single_DevProject'

	export default {
		name: 'all-devprojects',
		props: ['projects'],
		data:() => {
			return {
				sort: false
			}
		},
		methods: {
			sortByRating: function() {
				if(!this.sort) {
					this.projects.sort((a, b) => {
						if(!a.rating) return 1
						if(!b.rating) return -1
						return b.rating - a.rating
					})
					this.sort = !this.sort;
				} else {
					this.projects.sort((a, b) => {
						if(!a.rating) return -1
						if(!b.rating) return 1
						return a.rating - b.rating
					})
					this.sort = !this.sort;
				}
			},
			sortBySubmit: function() {
				if(!this.sort) {
					this.projects.sort((a, b) => {
						if(!a.submitted) return 1
						if(!b.submitted) return -1
						return new Date(b.submitted) - new Date(a.submitted)
					})
					this.sort = !this.sort;
				} else {
					this.projects.sort((a, b) => {
						if(!a.submitted) return -1
						if(!b.submitted) return 1
						return new Date(a.submitted) - new Date(b.submitted)
					})
					this.sort = !this.sort;
				}
			}
		},
		components: {
			SingleDevProject
		}
	}
</script>
