<template>
  <aside class="aside_user">
    <h2 class="color_black_almost">
			{{user.name
				? user.name.toLowerCase()
				: '[your_name]'}}
			<small>aka</small> <b class="color_green">{{user.user_name.toLowerCase()}}</b>
		</h2>
    <router-link to="/app/edit/profile">
      <i class="fa fa-pencil-square-o" title="edit profile" aria-hidden="true"></i>
    </router-link>
    <router-link to="/app/edit/password">
      <i class="fa fa-user-secret" title="change password" aria-hidden="true"></i>
    </router-link>
    <div class="aside_user_avatar" v-bind:style="{backgroundImage: 'url(' + user.avatar + ')'}">
      <label>
        <i class="fa fa-file-image-o" aria-hidden="true"></i>
        <input type="file" @change="handleUploadAvatar" hidden/>
      </label>
    </div>
    <p class="color_black_light"><small>about me:</small></p>
    <p class="color_black_almost">{{user.about_me.toLowerCase()}}</p>
    <p class="color_black_light"><small>skills:</small></p>
    <div>
      <div v-for="interes in interests" class="pill">{{interes.toLowerCase()}}</div>
    </div>
    <p class="color_black_light" v-if="profileIncomplete">
      the more you tell about yourself, the better chances are that companies will hire you. go on, fill your profile.
    </p>
    <small class="color_error" v-if="error">
			ooops, error uploading avatar :/
		</small>
    <small class="color_error" v-if="error_size">
			your avatar is too large (max 2mb)
	</small>
  </aside>
</template>

<script>
import { uploadAvatar } from '@/helpers/api'
export default {
	name: 'aside-user',
	props: ['user'],
	data: function() {
		return {
			error: false,
			error_size: false,
		}
	},
	computed: {
		interests: function () {
			return this.user.skills.split(',')
		},
		profileIncomplete: function () {
			return !this.user.name ||
				!this.user.skills ||
				!this.user.about_me ||
				!this.user.interests ||
				!this.user.city ||
				!this.user.cv ||
				!this.user.birthday;
		}
	},
	methods: {
		handleUploadAvatar: function (e) {
			this.error = false;
			this.error_size = false;

			if (e.target.files[0].size > 2097152) {
				this.error_size = true;
				return false
			}

			const fd = new FormData();
			fd.append('avatar', e.target.files[0]);

			uploadAvatar(fd)
				.then(response => {
					if (response.success) {
						this.user.avatar = response.avatar;
						localStorage.user = JSON.stringify(this.user);
					}
				})
				.catch(err => {
					this.error = true;
					console.error(err)
				})
		}
	}
}
</script>
