<template>
	<footer>
		<small>© {{year}} blablaDev</small>
		<a target="_blank" href="https://blabladev.com/#contact">contact</a>
		<a target="_blank" href="https://blabladev.com/#about">about</a>
	</footer>
</template>

<script>
	export default {
		name: 'footer-bottom',
		computed: {
			year: function() {
				return new Date().getFullYear()
			}
		}
	}
</script>
