<template>
  <nav class="nav_top">
    <div>
      <router-link to="/app">
        <img :src="require('@/assets/img/logo-black.png')" alt="#bbDev">
      </router-link>
      <!-- <router-link to="/app/users">Users</router-link>
			<router-link to="/app/projects">Projects</router-link> -->
    </div>
    <a @click="logOut" title="sign out">
      <!-- <b>logout</b> -->
      <img :src="user.avatar || require('@/assets/img/no_avatar.png')" :alt="user.name" />
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
  </nav>
</template>

<script>
import { logOut } from '@/helpers/api'
export default {
	name: 'navtop',
	props: ['user'],
	methods: {
		logOut: function (e) {
			localStorage.clear();
			logOut()
			window.location.replace('https://blabladev.com');
		}
	}
}
</script>

<style scoped>
.nav_top {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  -webkit-backdrop-filter: blur(15.7px);
  backdrop-filter: blur(15.7px); // background-color: #ffffff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.35);
  height: 50px;
}

.nav_top img {
  display: inline-block;
  vertical-align: middle;
  max-height: 40px;
  /*margin-right: 50px;*/
}

.nav_top>div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav_top>div a {
  margin-right: 15px;
}
</style>
