<template>
	<router-link :to="`/app/dev-project/${project.id}`" class="devproject_wrap">
		<img :src="project.avatar" :alt="project.title" />
		<small>{{project.title}}</small>
		<small>{{project.level}}</small>
		<small>{{project.submit_count}}/3</small>
		<small :class="projectRatingColor">
			{{project.rating ? project.rating : 'pending..'}}
		</small>
	</router-link>
</template>

<script>
	export default {
		name: 'single-devproject',
		props: ['project'],
		computed: {
			projectRatingColor: function() {
				if(!this.project.rating) {
					return ''
				} else if(this.project.rating >= 85) {
					return 'color_green'
				} else if(this.project.rating >= 50 && this.project.rating < 85) {
					return 'color_blue'
				} else if(this.project.rating >= 30 && this.project.rating < 50) {
					return 'color_yellow'
				} else {
					return 'color_error'
				}
			}
		}
	}
</script>
