<template>
  <li v-if="files.length">
    <h3>{{name === '.' ? parentname : name}}</h3>
    <p v-for="(file, i) in files" :key="i">
      {{file.name}}
      <!-- <img :src="'https://blabladev.com/project/download_file/' + projectid + '/' + url + '/' + file.name" v-if="parentname === 'images'" > -->
      <i class="fa " aria-hidden="true" @click="deleteFile(file.name)" v-if="!download"></i>
      <a v-else :href="`https://blabladev.com/project/download_file/${projectid}/${url}/${file.name}`" title="download file" download>
				<i class="fa fa-download" aria-hidden="true"></i>
			</a>
    </p>
  </li>
  <ul v-else class="project_file">
    <single-project-file v-for="(value, key, index) in files"
    	:key="index"
    	:files="value"
    	:name="key"
    	:parentname="name"
    	:projectid="projectid"
    	:url="url + '/' + key"
    	:download="download" />
  </ul>
</template>

<script>
import { deleteFile } from '@/helpers/api'

export default {
	name: 'single-project-file',
	props: ['files', 'name', 'parentname', 'projectid', 'url', 'download'],
	methods: {
		deleteFile: function (file) {
			const fd = new FormData();
			const url = this.url.substring(0, this.url.length - 1) + file;
			fd.append('project_id', this.projectid);
			fd.append('filename', url);

			deleteFile(fd)
				.then(response => {
					console.log(response);
				})
				.catch(err => console.error(err));
		}
	}
}
</script>
