<template>
  <router-link :to="`/app/project/${project.id}`" class="project_wrap">
    <div>
      <img :src="project.avatar" :alt="project.title" class="project_wrap-avatar" />
      <h5>{{project.title}}</h5>
    </div>
    <p>{{project.description}}</p>
    <div class="project_wrap-footer">
      <small><b class="color_black_almost">lvl: </b>{{project.level}}</small>
      <div class="project_wrap-languages">
        <img v-for="(lng, i) in languages" :key="i" :src="handleLanImg(lng)" :alt="lng" :title="lng" />
      </div>
    </div>
  </router-link>
</template>

<script>
import { handleLanImg } from '@/helpers/functions'
export default {
	name: 'single-project',
	props: ['project'],
	computed: {
		languages: function () {
			return this.project.languages.split(',').map(l => l.trim())
		}
	},
	methods: {
		handleLanImg
	}
}
</script>
