<template>
  <div class="modal">
    <div class="welcome_wrap">
      <h2>
				hello {{user.user_name}}. welcome to <b class="color_green">blablaDev</b>!
			</h2>
      <p>
        here’re a few insider tips for your road from inexperienced developer to crackerjack. let’s start applying programming logic right away:
      </p>
      <div class="welcome_code">
        <pre><code>
<span class="color_com">// fill in your profile so companies can find you easier</span>
<span class="color_var">const</span> <span class="color_typ">profile_filled</span> = <span class="color_var">true</span>;
<span class="color_com">// finish at least one project a month</span>
<span class="color_var">const</span> <span class="color_typ">project_a_month</span> = <span class="color_var">true</span>;
<span class="color_com">//  give us your feedback about bbDev when we ask
    (check your email more often)</span>
<span class="color_var">const</span> <span class="color_typ">feedback</span> = <span class="color_var">true</span>;
<span class="color_com">//  refer us to your friend who’s interested in
    becoming a developer</span>
<span class="color_var">const</span> <span class="color_typ">refer</span> = <span class="color_var">true</span>;

<span class="color_var">if</span>(<span class="color_typ">profile_filled</span> <span class="color_str">&&</span>
   <span class="color_typ">project_a_month</span> <span class="color_str">&&</span>
   <span class="color_typ">feedback</span> <span class="color_str">&&</span>
   <span class="color_typ">refer</span>) {
   <span class="color_com">
  /*
  you’ll become a more experienced developer
  get free code reviews, tips and tricks
  enhance your chances to land a job or get hired by
  our cool partners (scroll down the <a href="www.blabladev.com" class="color_green" target="_blank">www.blabladev.com</a>)
  */
	</span>
  <span class="color_var">let</span> <span class="color_typ">exp</span> = 0;
  <span class="color_var">while</span>(<span class="color_var">true</span>) {
    <span class="color_typ">exp</span>++;
  }
} <span class="color_var">else</span> {
  <span class="color_var">throw new</span> Error(<span class="color_str">'go back to “if” and try harder'</span>);
  <span class="color_com">//or give up (but mamma raised no quitter!)</span>
}
				</code></pre>
      </div>
      <h3 class="color_green">gl, hf and happy coding!</h3>
      <router-link class="welcome_link" to="/app/edit/profile">continue</router-link>
    </div>
  </div>
</template>
<script>
export default {
	name: 'welcome',
	props: ['user'],
}

</script>
