<template>
  <main>
    <router-view />
  </main>
</template>

<script>
import '@/assets/css/font-awesome.min.css'
import '@/assets/css/components.css'
import { user } from '@/store'
import { checkSession } from '@/helpers/api'

export default {
	name: 'app',
	data: function() {
		return {
			user
		}
	},
	beforeCreate: function () {
		checkSession()
			.then(response => {
				console.log(response);
				if (!response.success) {
					window.location.replace("https://blabladev.com/sign-in/")
				} else {
					localStorage.setItem('user', JSON.stringify(response))
					this.user = response
				}
			})
			.catch(err => console.log(err))
	}
}
</script>
